<div class="head">
    <h4>Chefs <p> | </p><a href="/platos">Platos </a>
        <p> | </p><a class="addLink" href="/New">Agregar un Chef </a>
        <p> | </p><a class="addLink" href="platos/New">Agregar un Plato</a>
    </h4>
</div>
<h3>¡Consulta nuestra lista de chefs!</h3>
<hr>
<table class="table table-striped table-bordered">
    <thead>
        <th>Nombre</th>
        <th>Edad</th>
        <th># de Platos</th>
    </thead>
    <tbody>
        @if (ViewBag.AllChefs != null)
        {
            @foreach (var c in ViewBag.AllChefs)
            {
                <tr>
                    <td>@c.Nombre @c.Apellido</td>
                    <td>@Chef.CalcularEdad(c.Cumpleanos)</td>
                    <td>@c.PlatosCreados.Count</td>
                </tr>
            }
        }
    </tbody>
</table>